:root {
  --color-primary: rgba(80, 65, 40, 0.8);
  --color-primary-dark: rgb(80, 65, 40);
  --color-yellow-ladrillo: rgba(228, 177, 103);
  --color-grey: rgb(248, 236, 220);
  --font-size-medium: 24px;
  --font-size-forte: 48px;
  --font-size-light: 20px;
}

.navbar {
  background-color: var(--color-primary) !important;
}

.home-app {
  background-image: url("./assets/imagen1.webp");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bogota-app {
  background-image: url("./assets/bogota.webp");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: relative;
  width: 100%;
}

.overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay > * {
  position: relative;
  z-index: 2;
}


.overlay-yellow {
  position: relative;
  width: 100%;
}

.overlay-yellow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(229, 232, 38, 0.1);
  z-index: 1;
}

.overlay-yellow > * {
  position: relative;
  z-index: 2;
}

.title-app,
.description-app {
  color: #FFFFFF;
  text-align: center;
}

.title-app {
  font-size: 72px;
  text-shadow: 2px 2px 3px #FFFFFF;
}

.description-app {
  font-size: 30px;
  width: 50%;
}

.btn-reservar {
  background-color: var(--color-primary-dark);
  color: #FFFFFF;
  border-radius: 32px;
  border: none;
  padding: 12px 24px;
  font-size: var(--font-size-light);
  margin-top: 40px;
}

/* Estilos de alojamientos */

.section__alojamientos {
  padding: 20px;
  background-image: url("./assets/imagen2.jpg");
  background-position: center;
  background-size: cover;
}

.section__alojamientos__formulario {
  border-radius: 10px;
  padding: 20px;
  background-color: #6e6256;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin: auto;
}

.section__alojamientos__formulario__destino {
  width: 100%;
}

.section__alojamientos__formulario__calendars {
  display: flex;
  gap: 5px;
  width: 100%;
}

.section__alojamientos__formulario__calendars>input {
  width: 50%;
}

.input-alojamiento {
  padding: 20px;
  border-radius: 32px;
  background-color: #FFFFFF;
  color: #1B1B1B;
}

.section__alojamientos__formulario__passangers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.input-rounded {
  padding: 10px;
  background-color: #FFFFFF;
  color: #1B1B1B;
  border-radius: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.button__action {
  border-radius: 50%;
  border: 5px solid #6e6256;
  color: #6e6256;
  font-weight: bolder;
  font-size: 25px;
  padding: 0px 10px;
}

.input-rounded>.text {
  font-size: 24px;
}

.buttons__passenger {
  display: flex;
  gap: 5px;
  align-items: end;
}

.button__value {
  border-bottom: 2px solid #6e6256;
  width: 30px;
  text-align: center;
}

.search__destination__button {
  padding: 12px 24px;
  background-color: #FFFFFF;
  color: #6e6256;
  border-radius: 10px;
  font-size: 20px;
}

.section__alojamientos__title {
  color: #FFFFFF;
  width: 50%;
  margin: auto;
}

.section__alojamientos__description {
  color: #FFFFFF;
  width: 50%;
  margin: auto;
}

/* seccion de hoteles en colombia */

.button__hotel {
  background-color: #6e6256;
  color: #FFFFFF;
  border: none;
}

.button__hotel:hover {
  background-color: rgba(110, 98, 86, 0.5);
}

.section__colombia__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 80%;
  margin: auto;
}

.section__colombia {
  width: 100%;
  margin: auto;
  background-color: var(--color-yellow-ladrillo);
}

.section__colombia>h1 {
  padding: 20px;
  color: #000000;
}

.card {
  flex: 1 1 calc(33.33% - 100px); 
  box-sizing: border-box;
}
/* seccion de hoteles en sudamerica */

.section__sudamerica__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 80%;
  margin: auto;
}
.section__sudamerica {
  width: 100%;
  margin: auto;
  background-color: var(--color-primary-dark);
}

.section__sudamerica>h1 {
  padding: 20px;
  color: #ffffff;
}
/* seccion de hoteles en eeuu */
.section__eeuu__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 80%;
  margin: auto;
}
.section__eeuu {
  width: 100%;
  margin: auto;
  background-color: var(--color-grey);
}

.section__eeuu>h1 {
  padding: 20px;
  color: #000000;
}
/* blog */
.section__blog__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 800px;
}
.section__blog{
  background-color: var(--color-yellow-ladrillo);
}
.btn-blog {
  background-color: var(--color-primary-dark);
  color: #FFFFFF;
  border-radius: 32px;
  border: none;
  padding: 12px 24px;
  font-size: var(--font-size-medium);
  margin-top: 40px;
}

/* grupo */
.section__grup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 80%;
  margin: auto;
}
.section__grup {
  width: 100%;
  margin: auto;
  background-color: var(--color-grey);
}

.section__grup>h1 {
  padding: 20px;
  color: #000000;
}
/* final */

.section__final__container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.section__final{
  width: 100%;
  margin: auto;
  background-color: var(--color-primary);
}

.img-final{
  width: 50%;
  margin: auto;
}

.info{
  padding: 20px;
  color: #ffffff; 
}

.precio {
  color: #A0C878;
}